:host {
  overflow: visible;
  @apply(--typography);
}

/**
 * Main toolbox
 */
.toolbox {
  position: absolute;
  display: none;
  align-items: center;
  background: var(--med-white);
  top: -5px;
  padding-top: 5px;
  transform: translateY(-100%);
  opacity: .5;
}

.toolbox[visible] {
  display: flex;
}

:host([position="right"]) .toolbox {
  right: 0;
  flex-direction: row;
  border-radius: 0 0 0 var(--border-radius);
}

:host([position="left"]) .toolbox {
  left: 0;
  flex-direction: row-reverse;
  border-radius: 0 0 var(--border-radius) 0;
}

.toolbox__tool {
  color: var(--med-black);
  width: var(--tool-size);
  flex-shrink: 0;
}

.toolbox__tool[active] {
  color: var(--blue);
}

.toolbox__tool:hover {
  color: var(--blue);
}

.toolbox__file {
  display: none;
}

.toolbox__title{
  width: 0;
  color: var(--text-color);
  transition: width 140ms ease-out-cubic;
}

.toolbox__title::placeholder {
  opacity: 0;
  color: var(--med-black);
  transition: opacity 10ms;
}

.toolbox__title--expanded::placeholder {
  opacity: 1;
  color: var(--med-black);
  transition: opacity 80ms;
}

.toolbox__title--expanded {
  width: 220px;
}

:host([position="right"]) .toolbox__title--expanded {
  padding-left: 14px;
}

:host([position="left"]) .toolbox__title--expanded {
  padding-right: 14px;
}

/**
 * Zoom slider
 * Pseudo elements transpiled with postcss-input-style
 */
.zoom {
  position: absolute;
  display: none;
  left: 5%;
  right: 5%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  background: var(--med-white);
  cursor: default;
  bottom: -5px;
  padding-bottom: 5px;
  transform: translateY(100%);
  opacity: .5;
}

.zoom[visible] {
  display: block;
}

.zoom__slider {
  display: flex;
  align-items: center;
  height: var(--tool-size);
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

/**
 * Range input
 */
.zoom__slider__input {
  width: 100%;
}

.zoom__slider__input::track {
  display: flex;
  align-items: center;
  background: var(--med-black);
  width: 100%;
  height: 4px;
  box-shadow: 0;
  cursor: pointer;
  border-radius: 999px;
  z-index: 1;
}

/* IE specific hacks */
.zoom__slider__input::-ms-track {
  /* Hide the ticks */
  color: transparent;

  /* Fake a bigger track for overflowing thumb */
  border: 8px solid transparent;
  background: transparent;
}

/* Use fill-upper and lower to style our 'track' */
.zoom__slider__input::-ms-fill-upper {
  background: var(--med-black);
  border-radius: 999px;
}

/* Hide the value callout */
.zoom__slider__input::-ms-tooltip {
  display: none;
}

/* Firefox specific hacks */
/* Hide the dotted outline on focus */
.zoom__slider__input::track:focus {
  outline: none;
}

/* Thumb */
.zoom__slider__input::thumb {
  box-sizing: border-box;
  border-radius: 999px;
  background: var(--blue);
  box-shadow: none;
  border: 3px solid white;
  width: 18px;
  height: 18px;
  position: relative;
  z-index: 1;
}

/* Range connectors */
/* Webkit - no native fill, use pseudo element */
.zoom__slider__input::thumb::before{
  content: '';
  display: block;
  height: 4px;
  width: 10000px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  background: var(--blue);
  pointer-events: none;
  z-index: -1;
}

/* Firefox */
.zoom__slider__input::-moz-range-progress {
  background: var(--blue);
  /* Hide the border */
  box-shadow: 1.5px 0.5px var(--blue), 1.5px -0.5px var(--blue);
}

/* IE */
.zoom__slider__input::-ms-fill-lower {
  background: var(--blue);
}

/**
 * Dark mode
 */
:host(.img--dark) .toolbox,
:host(.img--dark) .zoom {
  background: var(--med-black);
  color: var(--bright-white);
}

:host(.img--dark) .toolbox__tool:hover,
:host(.img--dark) .toolbax__title {
  color: white;
}

:host(.img--dark) .zoom__slider__input::track {
  background: var(--med-black);
}
