:root {
  --placeholder-background: var(--gray);
  --placeholder-sizing: cover;
}

:host {
  @apply(--typography);
  position: relative;
  overflow: hidden;
  display: inline-block;
  height: auto;
  width: auto;
}

.placeholder {
  min-width: 100%;
  min-height: 100%;
  width: 300px;
  height: 300px;
  max-width: 100%;
  max-height: 100%;

  background: var(--placeholder-background) center center no-repeat;
  
  /* Note: storing it in a var may seem unecessary, but otherwise background
      is given a higher specificity (due to polymer's var shim) and this rule
      will not get applied
  */
  background-size: var(--placeholder-sizing);
}

.placeholder img {
  vertical-align: bottom;
  cursor: pointer;
}

.placeholder:hover::before {
  content: 'Upload an image';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 21px;
  line-height: 1.3;
  font-weight: 900;
  color: var(--med-white);
  cursor: pointer;
  z-index: 1;
}
