:host {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: inherit;
  height: inherit;
  background: linear-gradient(45deg, rgba(0,0,0,0.02) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.02) 75%, rgba(0,0,0,0.02) 0), linear-gradient(45deg, rgba(0,0,0,0.02) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.02) 75%, rgba(0,0,0,0.02) 0), rgba(255, 255, 255, 0.02);
  background-position: 0 0, 15px 15px;
  background-size: 30px 30px;
  vertical-align: bottom;
}

:host([active]) {
  cursor: move;
}

/* Hover highlight */
:host([editable]:hover)::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--light-white);
  cursor: pointer;
  z-index: 1;
}

:host([active])::before {
  display: none;
}

/* Actual image */
.img {
  vertical-align: bottom;
  transform-origin: 0 0;
  width: inherit;
  height: inherit;
}
